.felxible-display{
    display: flex;
}
.half-width{
    width : 50%;
    padding-left: 5%;
}
.half-width img{
    padding-left: 5%;
}
h1{
    font-family: 'Cinzel', serif;
    font-size: 60px;
}
.font-color{
    color:rgb(231, 156, 15);
}
body{
    
    color:#575757;
    font-size: 22px;
}
.bg-1{
    background-repeat: no-repeat;
    background-image:url(images/shapes/Frame\ 57.jpg);
    padding-left: -5%;
}
.order-button{
    
    background-image: linear-gradient(rgba(248, 126, 113, 0.966),rgb(255, 166, 0));
    text-decoration:none;
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 22px;
    color: wheat;
    box-shadow: 2px 2px 20px orange;
}